html {
    /* Apply an image to the entire background */
    background-color: gray;
    background: url(/images/WhiteBackground.jpg) no-repeat bottom right fixed;
    background-size: cover;
    
    /* Add vendor specific prefixes for wider support */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

@font-face{ 
	font-family: 'samba';
	src: url('samba-webfont.eot');
	src: url('samba-webfont.eot?iefix') format('eot'),
	     url('samba-webfont.woff') format('woff'),
	     url('samba-webfont.ttf') format('truetype'),
	     url('samba-webfont.svg#webfont') format('svg');
}


.header {
  margin-left: 50px;
  font-size: 7em;
  font-family: "samba";
  margin-top: 40px;
  line-height: 135px
}

.liz{
  font-size: 1em;
  color: darkcyan;
  vertical-align: middle;
}

.brackets {
  font-size: 1.6em;
  vertical-align:middle;
  color: darkcyan;
}

.title{
  font-size: 1em;
  color: gray;
  vertical-align: middle;
}

#sub-header {
  font-family: "samba", sans-serif;
  font-size: 2em;
  color: gray;
  margin-left: 120px;
}

#logo {
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 20px;
}

.wide-menu a:link, a:visited {
  text-decoration: none;
  color:gray;
}

.wide-menu {
  position: fixed;
  right: 5%;
  top: 20px;
  display: block; 
  text-align: right;
  font-family: "samba", san-serfif;
  font-size: 2em;
  padding-top: 5px;
  color: gray;
}


.menu-btn {
  position: fixed;
  right: 10px;
  top:50px;
  display:none;
  width: 70px; 
}

.menu-btn div {
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	z-index: 99;
}

.menu-btn span {
  display: block;
	width: 19px;
	height: 3px;
	margin: 4px 40px;
	background: gray;
	z-index: 99;
  }

.responsive-menu a:link, a:visited, p {
  text-decoration: none;
  color: dimgrey;
}
.responsive-menu{
	display: none;
}

.responsive-menu p {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: lightgray;
  padding-bottom: 20px;
}


.expand {
	display: none; 
  text-align: center;
  font-family: "samba", san-serfif;
  font-size: 1.5em;
  background: rgba(200,200,200,1);
  padding-top: 5px;
  margin-top: 30px;

}

.scroll-words {
  font-size: 7em;
  font-family: "samba", sans-serif;
  margin-top: 96px;
  text-align: right;
}

.center{
  margin-right: 30%;
  color:gray;
}

.center-1 {
  margin-right: 30%;
  color:darkgray;
  
}

.center-2 {
  margin-right: 30%;
  color:lightgray;
}

.space {
  padding-left: 100px;
  padding-right: 100px;
}

#liz-large {
  font-family: "samba", sans-serif;
  font-size: 8em;
  right: 35%;
  top: 20%;
  vertical-align:middle;
  color: darkcyan;
}

#brackets-large {
  margin-top: 50%;
  font-size: 1.5em;
  vertical-align:middle;
  color: darkcyan;
  margin-left: 0px;
}

@media only screen and (max-width: 1100px) {
  .header {
    font-size: 5.5em;
    margin-left: 40px;
    line-height: 100px;
  }
  
  #sub-header {
    font-size: 1.8em;
    margin-left: 95px;
  }
    
  #logo {
    width: 70px;
    padding-left: 7px;
    padding-right: 15px;
  }  
    
  .wide-menu {
    font-size: 1.5em 
  }
  
}

@media only screen and (max-width: 850px) {
  .header {
    font-size: 3.7em;
    line-height: 70px;
    margin-left: 25px;
  }
  
  #sub-header {
    font-size: 1.3em;
    margin-left: 60px;
  }
  
  #logo {
    width: 55px;
    padding-left: 5.5px;
    padding-right: 11px;
  }
    
  .wide-menu {
    font-size: 1.3em 
  }

  
}

@media only screen and (max-width: 650px) {
  .menu-btn {
    display:block;
    top: 68px;
  }
  
  .expand {
    display: block;
  }

  .wide-menu {
    display: none;
  }
  

}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 2.2em;
    margin-left: 10px;
    margin-top: 20px;
    line-height: 50px;
  }
  
  #sub-header {
    font-size: 1.1em;
    margin-left: 34px;
  }
  
  #logo {
    width: 40px;
  }
    
  .menu-btn {
    top: 35px;
  }
}