html {
    /* Apply an image to the entire background */
    background-color: gray;
    background: url(/images/WhiteBackground.jpg) no-repeat bottom right fixed;
    background-size: cover;
    
    /* Add vendor specific prefixes for wider support */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

@font-face{ 
	font-family: 'samba';
	src: url('samba-webfont.eot');
	src: url('samba-webfont.eot?iefix') format('eot'),
	     url('samba-webfont.woff') format('woff'),
	     url('samba-webfont.ttf') format('truetype'),
	     url('samba-webfont.svg#webfont') format('svg');
}


.header {
  margin-left: 50px;
  font-size: 8em;
  font-family: "samba";
  margin-top: 20px;
  width: 80%;
}


.liz{
  font-size: 1.6em;
  color: darkcyan;
  vertical-align: middle;


}

.title{
  font-size: 1em;
  color: gray;
  vertical-align: middle;
}

.menu-btn {
  position: fixed;
  right: 5px;
  top:50px;
  
  
}

.menu-btn div {
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	z-index: 99;
}

.menu-btn span {
  display: block;
	width: 19px;
	height: 3px;
	margin: 4px 40px;
	background: gray;
	z-index: 99;
}

.responsive-menu{
	display: none;
}

.responsive-menu p {
	border-bottom-style: solid;
  border-width: 2px;
  border-color: lightgray;
  padding-bottom: 20px;
}


.expand {
	display: block !important; 
  text-align: center;
  font-family: "samba", san-serfif;
  font-size: 1.5em;
  background: rgba(200,200,200,1);
  padding-top: 5px;
  
  
}

@media only screen and (max-width: 1000px) {
    .header {
        font-size: 3.5em;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .header {
        font-size: 2.5em;
        margin-left: 20px;
      margin-top: 30px;
    }
}